:root {
    --swiper-theme-color: hsl(220, 13%, 13%);
    --swiper-navigation-size: 1.5rem;
}

.swiper-button-prev{
   
    background-color: white;
    padding: 1.5rem;
    border-radius: 50%;
}

.swiper-button-next{
    background-color: white;
    padding: 1.5rem;
    border-radius: 50%;
}

.swiper-button-next,.swiper-button-prev{
    position: absolute;
    top: 50%;
    transform: translateY(-110%);
}


